.header {
    height: 70px;
    background-color: rgb(20, 93, 160);
    display: flex;
    flex-direction: row;
    font-family: Roboto, Arial;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.left-section {
    width: 250px;
    display: flex;
    justify-content: center;
}

.left-section .logo {
    font-weight: bolder;
    display: flex;
    font-size: 30px;
    color: white;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: right;
}

.right-section a {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    
}

.right-section a.button {
    background-color: rgb(255, 255, 255);
    color: black;
    
}

.right-section a:hover {
    opacity: 0.5;
    cursor: pointer;
}