.project-preview-container {
    /* width: 500px; */
    display: flex;
}

.project-preview-info {
    flex: 1;
    border-style: solid;
    margin-right: 50px;
}

.project-preview-picture {
    max-width: 500px;
    /* width: 50%; */
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    /* margin: auto; */
    display: block;
}

.project-preview-picture-container {
    /* align-items: center; */
    flex: 1;
}