html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 2000px;
    padding-top: 70px;
    background-color: rgb(244, 247, 248);
}

section {
    scroll-margin-top: 70px;
    /* display: flex; */
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    /* align-items: center; */
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: white;    
}

* {
    font-family: Roboto, Arial;
}

.section-header {
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
}

