.work-experiences {
    display: flex;
    flex-direction: column;

    /* height: 1000px; */
    /* padding-bottom: 40px; */
    /* flex-basis: 0; */
}

.work-experience {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.work-logo-container {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.work-logo {
    max-width: 200px;
    border-style: solid;
    border-color: rgb(12, 45, 72);
    border-width: 5px;
    flex: 1;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.work-logo:hover {
    transform: scale(1.2);
}

.work-info-container {
    flex: 1;
    min-width: 300px;
}

.work-info {
    background-color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    /* flex: 1; */
    max-width: 500px;
    /* min-width: 300px; */
    border-top-style: solid;
    border-top-width: 15px;
    border-radius: 10px
}

.work-info.operto {
    border-top-color: rgb(59, 115, 243);
}

.work-info.visier {
    border-top-color: rgb(29, 129, 135);
}

.work-info.richmond {
    border-top-color: rgb(255, 207, 0);
}

.work-date {
    font-weight: bold;
    /* text-align: justify; */
    /* min-width: 100px; */
    /* padding-left: 0px; */
    flex: 1;
    text-align: right;
}

.work-title {
    font-weight: bold;
    /* line-height: 35px; */
    margin-bottom: 3px;
}

.work-company {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    /* line-height: 30px; */
}

.work-description {
    line-height: 24px;
}
/* 
@media screen and (max-width: 800){
    
} */