.work-experiences {
    display: flex;
    flex-direction: column;

    /* height: 1000px; */
    /* padding-bottom: 40px; */
    /* flex-basis: 0; */
}

.work-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.work-logo-container {
    margin-left: 100px;
    margin-right: 100px;
}

.work-logo {
    max-width: 200px;
    border-style: solid;
    border-color: rgb(12, 45, 72);
    border-width: 5px;
    flex: 1;
    transition: 0.3s ease-in-out;
}

.work-logo:hover {
    transform: scale(1.2);
}

.work-info-container {
    flex: 1;
}

.work-info {
    background-color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    /* flex: 1; */
    max-width: 500px;
    border-top-style: solid;
    border-top-width: 15px;
}

.work-info.operto {
    border-top-color: rgb(59, 115, 243);
}

.work-info.visier {
    border-top-color: rgb(29, 129, 135);
}

.work-date {
    font-size: 20px;
    font-weight: bold;
    flex: 1;
    text-align: right;
    /* justify-content: right; */
}

.work-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

.work-company {
    font-style: italic;
    font-weight: bold;
    line-height: 40px;
}

.work-description {
    line-height: 24px;
}